@media (max-width: 900px) {
  .footer__inner {
    display: block;
  }
  .footer-item {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 860px) {
  .info__inner {
    flex-direction: column;
  }
  .info-left {
    max-width: none;
  }
  .info-right {
    margin: 0 auto;
  }
  .animate__animated {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .info-left__img {
    max-width: 100%;
    height: auto;
  }
}
