
        @media(max-width:1024px) {
            .lgpd {
                top: 7%;
                left: 11%;
                width: 75%;
            }
        }

        @media(max-width:768px) {
            .lgpd__anali-title {
                width: 100%;
                text-align: center;
            }
        }